
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

/* BODY + HEADER */
body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header_row {
  margin-top: 10px;
  height: 200px;
  background: #161a1d;
  text-align: center;
  font-size: 80px;
  color: azure;
  padding-top: 16px;
  padding-left: 16px;
}


/* BUTTONS */
.action_container {
  display: flex;
  justify-content: center;
}

.input_field_label {
  font-size: 14px;
  font-weight: 600
}

.input_field {
  margin-left: 10px;
}

.filter_button {
  background-color: #4CAF50;
  border: none;
  border-radius: 2px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
}

.show_all_button {
  background-color: white;
  border-color: #4CAF50;
  border-style: solid;
  border-radius: 2px;
  color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 5px;
}


/* PRODUCT INFO */
.product_information_container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.product_information_card {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc; 
}

.product_description {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  font-weight: 800;
  font-size: larger;
}

.product_image {
  margin-top: 16px;
}


